<br>
<br>
<input type="text" [(ngModel)]="filter" class="form-control" placeholder="Search text Here" />
<br>
<br>
<table class="table table-bordered" style="color: green;">
    <thead>
        <tr>
            <th style="width: 15%;">Product code</th>
            <th style="width: 15%;">Description</th>
            <th style="width: 15%;">Quantity</th>
            <th style="width:15%">RatePerUnit</th>
            <th style="width:15%">Category Id</th>
            <th style="width: 15%;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | filter:filter| paginate:{itemsPerPage:5,currentPage:page}">
           <td>{{p.ProductCode}}</td>
           <td>{{p.DescProduct}}</td>
           <td>{{p.Qty}}</td>
           <td>{{p.RatePerUnit}}</td>
           <td>{{p.Cid}}</td>
           <td>
            <button (click)="updproduct(p.ProductCode)" class="btn btn-sm btn-primary">Edit</button>
            &nbsp; &nbsp;
            <button  (click)="deleteprod(p.ProductCode)"  class="btn btn-sm btn-danger">Delete</button>
        </td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="page= $event"></pagination-controls>
</table>


